### Import the required libraries

In [1]:
import pandas as pd
import numpy as np
import censusdata

### Get the variables that represents median income by race

Search for variables on median

In [2]:
search_criteria = "median family income"
income_variables = censusdata.search('acs5', 2018,'concept', search_criteria)
income_variables[0:2]

[('B10010_001E',
  'MEDIAN FAMILY INCOME FOR FAMILIES WITH GRANDPARENT HOUSEHOLDERS AND/OR SPOUSES LIVING WITH OWN GRANDCHILDREN UNDER 18 YEARS BY RESPONSIBILITY FOR OWN GRANDCHILDREN AND PRESENCE OF PARENT OF GRANDCHILDREN',
  'Estimate!!Median family income in the past 12 months--!!Total'),
 ('B10010_002E',
  'MEDIAN FAMILY INCOME FOR FAMILIES WITH GRANDPARENT HOUSEHOLDERS AND/OR SPOUSES LIVING WITH OWN GRANDCHILDREN UNDER 18 YEARS BY RESPONSIBILITY FOR OWN GRANDCHILDREN AND PRESENCE OF PARENT OF GRANDCHILDREN',
  'Estimate!!Median family income in the past 12 months--!!Grandparent householder and/or spouse responsible for grandchildren under 18 years (dollars)')]

Converts the list of tuples to a pandas data frame

In [3]:
dfIV = pd.DataFrame(income_variables, columns=["Variable","Concepts","Labels"])
dfIV.head()

,Variable,Concepts,Labels
0,B10010_001E,MEDIAN FAMILY INCOME FOR FAMILIES WITH GRANDPA...,Estimate!!Median family income in the past 12 ...
1,B10010_002E,MEDIAN FAMILY INCOME FOR FAMILIES WITH GRANDPA...,Estimate!!Median family income in the past 12 ...
2,B10010_003E,MEDIAN FAMILY INCOME FOR FAMILIES WITH GRANDPA...,Estimate!!Median family income in the past 12 ...
3,B19113A_001E,MEDIAN FAMILY INCOME IN THE PAST 12 MONTHS (IN...,Estimate!!Median family income in the past 12 ...
4,B19113B_001E,MEDIAN FAMILY INCOME IN THE PAST 12 MONTHS (IN...,Estimate!!Median family income in the past 12 ...

Subset the data frame to exclude the row in the ***Variable*** field that is equal to "GEO_ID". Then displays using some style properties.

In [4]:
dfIV = dfIV[dfIV["Variable"] != "GEO_ID"]
dfIV.style.set_properties(subset=['Concepts'], **{'width-min': '300px'})

### Put the variables that represent variables you want to retrieve in a list

In [5]:
cns_vars = [
    "B19113_001E","B19113A_001E","B19113B_001E","B19113C_001E",
    "B19113D_001E","B19113E_001E","B19113F_001E","B19113G_001E",
    "B19113H_001E","B19113I_001E"
    ]

### Define the names you want to use

In [6]:
new_names = {
    'index':'Geography',"B19113_001E":"ALL","B19113A_001E":"WHITE",
    "B19113B_001E":"BLACK","B19113C_001E":"INDIAN","B19113D_001E":"ASIAN",
    "B19113E_001E":"PACIFIC","B19113F_001E":"OTHER","B19113G_001E":"MIX",
    "B19113H_001E":"JUST WHITE","B19113I_001E":"HISPANIC"
}

### Define the geographies you want data on

In [7]:
geographies = [('us', '*')]

### Fetch the data from the census api using the 5 year estimates for 2018

In [8]:
MEDINC_BY_US_BY_RACE = censusdata.download(
    'acs5', 2018, censusdata.censusgeo(geographies), 
    cns_vars)

### Reest the index for the MEDINC_BY_STATE_BY_RACE data frame

In [9]:
MEDINC_BY_US_BY_RACE = MEDINC_BY_US_BY_RACE.reset_index()

### Rename the columns with more meaningful names

In [10]:
MEDINC_BY_US_BY_RACE = MEDINC_BY_US_BY_RACE.rename(columns=new_names)
MEDINC_BY_US_BY_RACE.head()

,Geography,ALL,WHITE,BLACK,INDIAN,ASIAN,PACIFIC,OTHER,MIX,JUST WHITE,HISPANIC
0,"United States: Summary level: 010, us:1",73965,78986,49270,49451,96439,65618,48058,66304,83246,51800

### Create a function to get the location name

In [11]:
def getLocation(row):
    return row["Geography"].name

### Sets the location field based on thee getLocation() field. Sets the "Place" field to the "Location" field

In [12]:
MEDINC_BY_US_BY_RACE["Location"] = MEDINC_BY_US_BY_RACE.apply(lambda row:  getLocation(row),axis=1)
MEDINC_BY_US_BY_RACE["Place"] = MEDINC_BY_US_BY_RACE["Location"]

In [13]:
MEDINC_BY_US_BY_RACE.head()

,Geography,ALL,WHITE,BLACK,INDIAN,ASIAN,PACIFIC,OTHER,MIX,JUST WHITE,HISPANIC,Location,Place
0,"United States: Summary level: 010, us:1",73965,78986,49270,49451,96439,65618,48058,66304,83246,51800,United States,United States

### Sets the Query field

In [14]:
MEDINC_BY_US_BY_RACE["Query Type"] = "Country"

### Get the median income data at the ***state*** level

In [15]:
# Define the geographies you want data on
geographies = [('state', '*')]

# Fetch the data from the census api using the 5 year estimates for 
# 2018 
MEDINC_BY_STATE_BY_RACE = censusdata.download(
    'acs5', 2018, censusdata.censusgeo(geographies), 
    cns_vars)

# Reest the index for the MEDINC_BY_STATE_BY_RACE data frame
MEDINC_BY_STATE_BY_RACE = MEDINC_BY_STATE_BY_RACE.reset_index()

# Rename the columns with more meaningful names
MEDINC_BY_STATE_BY_RACE = MEDINC_BY_STATE_BY_RACE.rename(columns=new_names)

# Create a function to get the location name
def getLocation(row):
    return row["Geography"].name

# Sets the location field based on thee getLocation() field. Sets the "Place" field to the "Location" field
MEDINC_BY_STATE_BY_RACE["Location"] = MEDINC_BY_STATE_BY_RACE.apply(lambda row:  getLocation(row),axis=1)
MEDINC_BY_STATE_BY_RACE["Place"] = MEDINC_BY_STATE_BY_RACE["Location"]

# Sets the Query field
MEDINC_BY_STATE_BY_RACE["Query Type"] = "State"

In [16]:
MEDINC_BY_STATE_BY_RACE

,Geography,ALL,WHITE,BLACK,INDIAN,ASIAN,PACIFIC,OTHER,MIX,JUST WHITE,HISPANIC,Location,Place,Query Type
0,"Minnesota: Summary level: 040, state:27",86204,90511,41891,41988,82767,73036,44056,64187,91432,49426,Minnesota,Minnesota,State
1,"Mississippi: Summary level: 040, state:28",54933,67910,36083,40196,69004,50160,41863,48971,68466,44566,Mississippi,Mississippi,State
2,"Missouri: Summary level: 040, state:29",67612,70959,43905,55236,88419,53594,39608,53025,71390,50307,Missouri,Missouri,State
3,"Montana: Summary level: 040, state:30",68139,70097,47050,40959,90125,28469,62900,53877,70522,52583,Montana,Montana,State
4,"Nebraska: Summary level: 040, state:31",75123,77802,42277,43295,68654,52813,47671,51224,80477,48565,Nebraska,Nebraska,State
5,"Nevada: Summary level: 040, state:32",68700,74562,48754,49846,74479,66710,47477,65483,80394,52317,Nevada,Nevada,State
6,"New Hampshire: Summary level: 040, state:33",91245,91877,62139,52099,95765,55673,61875,78702,92543,59101,New Hampshire,New Hampshire,State
7,"New Jersey: Summary level: 040, state:34",98047,106497,63387,65906,127067,48563,48587,81274,114801,56910,New Jersey,New Jersey,State
8,"New Mexico: Summary level: 040, state:35",59175,63383,50871,37741,73728,61850,42407,59913,77590,47703,New Mexico,New Mexico,State
9,"New York: Summary level: 040, state:36",80419,92553,58406,50108,77938,60295,43104,63412,96047,50984,New York,New York,State
10,"North Carolina: Summary level: 040, state:37",65097,72691,45417,44879,90516,52241,36700,54472,74876,39917,North Carolina,North Carolina,State
11,"North Dakota: Summary level: 040, state:38",83272,86908,46586,38516,75438,-666666666,50910,63984,87419,52059,North Dakota,North Dakota,State
12,"Ohio: Summary level: 040, state:39",69837,74104,39759,43017,89220,64212,42075,48936,74590,46562,Ohio,Ohio,State
13,"Oklahoma: Summary level: 040, state:40",63574,67724,41824,51915,71301,41745,42476,55946,69590,44977,Oklahoma,Oklahoma,State
14,"Oregon: Summary level: 040, state:41",72823,74271,47340,49579,89702,64012,51742,59637,76749,49166,Oregon,Oregon,State
15,"Pennsylvania: Summary level: 040, state:42",75477,79664,45771,43571,86714,57485,36933,52667,81046,42369,Pennsylvania,Pennsylvania,State
16,"Rhode Island: Summary level: 040, state:44",81822,88569,49980,35796,82051,40788,38260,54562,93137,40624,Rhode Island,Rhode Island,State
17,"South Carolina: Summary level: 040, state:45",63437,72703,41548,49684,71937,37917,39901,57292,73850,43488,South Carolina,South Carolina,State
18,"South Dakota: Summary level: 040, state:46",72706,76774,35199,27483,64809,27155,50697,49488,77222,48275,South Dakota,South Dakota,State
19,"Tennessee: Summary level: 040, state:47",63096,66860,44495,52419,83722,-666666666,37413,53471,67811,42039,Tennessee,Tennessee,State
20,"Texas: Summary level: 040, state:48",70423,73894,54788,61664,97701,56920,46700,69877,91936,50113,Texas,Texas,State
21,"Utah: Summary level: 040, state:49",77732,80294,50019,48033,80941,66960,48381,65334,82455,52011,Utah,Utah,State
22,"Vermont: Summary level: 040, state:50",77193,77912,44230,46205,70694,-666666666,57298,62758,78068,61159,Vermont,Vermont,State
23,"Virginia: Summary level: 040, state:51",86628,93474,60309,71594,113717,87708,54777,82371,95342,64994,Virginia,Virginia,State
24,"West Virginia: Summary level: 040, state:54",57598,58199,42885,54821,78566,60545,43324,53977,58205,50987,West Virginia,West Virginia,State
25,"Washington: Summary level: 040, state:53",84182,86787,59863,51521,104005,66455,48732,74064,89629,53373,Washington,Washington,State
26,"Wisconsin: Summary level: 040, state:55",75313,79044,35519,46922,77576,48372,41770,56132,80153,46545,Wisconsin,Wisconsin,State
27,"Wyoming: Summary level: 040, state:56",77480,78721,57188,57667,77986,70592,45659,73433,80484,55097,Wyoming,Wyoming,State
28,"Puerto Rico: Summary level: 040, state:72",24391,25333,24158,24030,26612,-666666666,20388,25164,38226,24292,Puerto Rico,Puerto Rico,State
29,"Alabama: Summary level: 040, state:01",62030,70093,41170,59301,76917,56391,33610,55557,70774,40744,Alabama,Alabama,State
30,"Alaska: Summary level: 040, state:02",90284,101189,58807,55129,75334,65684,68661,77966,102463,73148,Alaska,Alaska,State
31,"Arizona: Summary level: 040, state:04",66988,70427,54931,39677,91212,60224,44420,60378,78239,47892,Arizona,Arizona,State
32,"Arkansas: Summary level: 040, state:05",57065,61924,36856,42691,76751,36174,38261,50660,63011,40891,Arkansas,Arkansas,State
33,"California: Summary level: 040, state:06",81416,86689,61189,59029,103269,77802,53005,82418,104867,56114,California,California,State
34,"Colorado: Summary level: 040, state:08",84540,87980,58472,58886,85839,71571,52239,75496,95045,54449,Colorado,Colorado,State
35,"Connecticut: Summary level: 040, state:09",97310,106622,57666,53821,105632,198448,41793,69568,112246,49380,Connecticut,Connecticut,State
36,"Delaware: Summary level: 040, state:10",79814,84132,60869,61250,109020,53587,53665,62188,86336,54939,Delaware,Delaware,State
37,"District of Columbia: Summary level: 040, stat...",105029,201695,54778,55750,150888,-666666666,55285,135734,208622,73053,District of Columbia,District of Columbia,State
38,"Florida: Summary level: 040, state:12",64312,68699,46345,53714,79042,61112,46932,59740,74726,50821,Florida,Florida,State
39,"Georgia: Summary level: 040, state:13",67405,77080,49807,44465,84559,43010,42393,62567,79762,47298,Georgia,Georgia,State
40,"Idaho: Summary level: 040, state:16",64723,65823,50060,47222,64515,66848,46060,59576,67580,47240,Idaho,Idaho,State
41,"Hawaii: Summary level: 040, state:15",90935,93138,77404,52857,98701,65961,65962,88548,96103,70331,Hawaii,Hawaii,State
42,"Illinois: Summary level: 040, state:17",79747,86829,47112,61023,100828,84565,51936,66846,91017,55955,Illinois,Illinois,State
43,"Indiana: Summary level: 040, state:18",68054,71354,41059,49567,78822,53352,43250,51092,72219,48314,Indiana,Indiana,State
44,"Iowa: Summary level: 040, state:19",74794,76740,32283,42961,71831,35988,48989,47648,77736,48798,Iowa,Iowa,State
45,"Kansas: Summary level: 040, state:20",73222,75702,47935,56006,83620,52928,48150,57302,78379,48117,Kansas,Kansas,State
46,"Kentucky: Summary level: 040, state:21",61059,63114,41284,38026,69448,53000,35485,49807,63450,43469,Kentucky,Kentucky,State
47,"Louisiana: Summary level: 040, state:22",61785,74801,36583,52406,70976,64844,39841,57600,76018,48100,Louisiana,Louisiana,State
48,"Maine: Summary level: 040, state:23",70370,71121,41024,38060,74500,88750,68750,45544,71175,63664,Maine,Maine,State
49,"Maryland: Summary level: 040, state:24",99403,110812,78854,90662,115798,94853,59588,92954,113218,68882,Maryland,Maryland,State
50,"Massachusetts: Summary level: 040, state:25",98625,105352,59676,43028,107276,78684,43503,66172,108918,44374,Massachusetts,Massachusetts,State
51,"Michigan: Summary level: 040, state:26",69691,74045,41277,51186,100163,62292,45404,53518,74736,50182,Michigan,Michigan,State

### Get the median income data at the ***place*** level

In [17]:
# Define a new set of geographies based on places
geographies = [('state', '*'),('place','*')]

# Fetch the data from the census api
MEDINC_BY_STATE_BY_PLACE_BY_RACE = censusdata.download(
    'acs5', 2018, censusdata.censusgeo(geographies), 
    cns_vars)

# Reset your index
MEDINC_BY_STATE_BY_PLACE_BY_RACE = MEDINC_BY_STATE_BY_PLACE_BY_RACE.reset_index()

# Give the columns more meaningful names
MEDINC_BY_STATE_BY_PLACE_BY_RACE = MEDINC_BY_STATE_BY_PLACE_BY_RACE.rename(columns=new_names)

# Sets the "Place" field using the getLocation() function
MEDINC_BY_STATE_BY_PLACE_BY_RACE["Place"] = MEDINC_BY_STATE_BY_PLACE_BY_RACE.apply(lambda row:  getLocation(row),axis=1)

# Create a function to get the State out of the "Place" field and uses it to set the "Location" field
def getState(place):
    return place.split(",",1)[1]
MEDINC_BY_STATE_BY_PLACE_BY_RACE["Location"] = MEDINC_BY_STATE_BY_PLACE_BY_RACE["Place"].apply(lambda place: getState(place))

# Sets the Query field
MEDINC_BY_STATE_BY_PLACE_BY_RACE["Query Type"] = "Place"

In [18]:
# Get the shape of the data frame
MEDINC_BY_STATE_BY_PLACE_BY_RACE.shape

(29573, 14)

In [19]:
MEDINC_BY_STATE_BY_PLACE_BY_RACE.head()

,Geography,ALL,WHITE,BLACK,INDIAN,ASIAN,PACIFIC,OTHER,MIX,JUST WHITE,HISPANIC,Place,Location,Query Type
0,"Abanda CDP, Alabama: Summary level: 160, state...",41346.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,"Abanda CDP, Alabama",Alabama,Place
1,"Abbeville city, Alabama: Summary level: 160, s...",53036.0,71563.0,35000.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,71563.0,-666666666.0,"Abbeville city, Alabama",Alabama,Place
2,"Adamsville city, Alabama: Summary level: 160, ...",52846.0,60236.0,51696.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,60236.0,-666666666.0,"Adamsville city, Alabama",Alabama,Place
3,"Addison town, Alabama: Summary level: 160, sta...",59167.0,59167.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,59167.0,-666666666.0,"Addison town, Alabama",Alabama,Place
4,"Akron town, Alabama: Summary level: 160, state...",36000.0,60375.0,24583.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,60375.0,-666666666.0,"Akron town, Alabama",Alabama,Place

### Combines the contents from the MEDINC_BY_STATE_BY_PLACE_BY_RACE data frame and MEDINC_BY_STATE_BY_RACE data frame into one data frame.

In [21]:
MEDINC_BY_LOCATION_BY_PLACE_BY_RACE = MEDINC_BY_US_BY_RACE

MEDINC_BY_LOCATION_BY_PLACE_BY_RACE = \
    MEDINC_BY_LOCATION_BY_PLACE_BY_RACE.append(MEDINC_BY_STATE_BY_RACE, ignore_index = True)

MEDINC_BY_LOCATION_BY_PLACE_BY_RACE = \
    MEDINC_BY_LOCATION_BY_PLACE_BY_RACE.append(MEDINC_BY_STATE_BY_PLACE_BY_RACE, ignore_index = True)
MEDINC_BY_LOCATION_BY_PLACE_BY_RACE.head()

,Geography,ALL,WHITE,BLACK,INDIAN,ASIAN,PACIFIC,OTHER,MIX,JUST WHITE,HISPANIC,Location,Place,Query Type
0,"United States: Summary level: 010, us:1",73965.0,78986.0,49270.0,49451.0,96439.0,65618.0,48058.0,66304.0,83246.0,51800.0,United States,United States,Country
1,"Minnesota: Summary level: 040, state:27",86204.0,90511.0,41891.0,41988.0,82767.0,73036.0,44056.0,64187.0,91432.0,49426.0,Minnesota,Minnesota,State
2,"Mississippi: Summary level: 040, state:28",54933.0,67910.0,36083.0,40196.0,69004.0,50160.0,41863.0,48971.0,68466.0,44566.0,Mississippi,Mississippi,State
3,"Missouri: Summary level: 040, state:29",67612.0,70959.0,43905.0,55236.0,88419.0,53594.0,39608.0,53025.0,71390.0,50307.0,Missouri,Missouri,State
4,"Montana: Summary level: 040, state:30",68139.0,70097.0,47050.0,40959.0,90125.0,28469.0,62900.0,53877.0,70522.0,52583.0,Montana,Montana,State

### Replaces -666666666 with NaN

In [22]:
MEDINC_BY_LOCATION_BY_PLACE_BY_RACE = MEDINC_BY_LOCATION_BY_PLACE_BY_RACE.replace(-666666666, np.nan)
MEDINC_BY_LOCATION_BY_PLACE_BY_RACE.head(100)

,Geography,ALL,WHITE,BLACK,INDIAN,ASIAN,PACIFIC,OTHER,MIX,JUST WHITE,HISPANIC,Location,Place,Query Type
0,"United States: Summary level: 010, us:1",73965.0,78986.0,49270.0,49451.0,96439.0,65618.0,48058.0,66304.0,83246.0,51800.0,United States,United States,Country
1,"Minnesota: Summary level: 040, state:27",86204.0,90511.0,41891.0,41988.0,82767.0,73036.0,44056.0,64187.0,91432.0,49426.0,Minnesota,Minnesota,State
2,"Mississippi: Summary level: 040, state:28",54933.0,67910.0,36083.0,40196.0,69004.0,50160.0,41863.0,48971.0,68466.0,44566.0,Mississippi,Mississippi,State
3,"Missouri: Summary level: 040, state:29",67612.0,70959.0,43905.0,55236.0,88419.0,53594.0,39608.0,53025.0,71390.0,50307.0,Missouri,Missouri,State
4,"Montana: Summary level: 040, state:30",68139.0,70097.0,47050.0,40959.0,90125.0,28469.0,62900.0,53877.0,70522.0,52583.0,Montana,Montana,State
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,"Bellamy CDP, Alabama: Summary level: 160, stat...",29205.0,NaN,37793.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Alabama,"Bellamy CDP, Alabama",Place
96,"Belle Fontaine CDP, Alabama: Summary level: 16...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Alabama,"Belle Fontaine CDP, Alabama",Place
97,"Benton town, Alabama: Summary level: 160, stat...",64688.0,64688.0,NaN,NaN,NaN,NaN,NaN,NaN,64688.0,NaN,Alabama,"Benton town, Alabama",Place
98,"Berry town, Alabama: Summary level: 160, state...",56250.0,56806.0,NaN,NaN,NaN,NaN,NaN,NaN,56806.0,NaN,Alabama,"Berry town, Alabama",Place
99,"Bessemer city, Alabama: Summary level: 160, st...",40601.0,48520.0,36855.0,NaN,NaN,NaN,NaN,55444.0,49195.0,NaN,Alabama,"Bessemer city, Alabama",Place

### Choose the columns that you want to keep in the order you want them

In [23]:
colnames = ['Query Type', 'Location', 'Place', 'ALL', 'WHITE', 'BLACK', 'INDIAN', 'ASIAN', 'PACIFIC','OTHER', 'MIX', 'JUST WHITE', 'HISPANIC']
MEDINC_BY_LOCATION_BY_PLACE_BY_RACE = MEDINC_BY_LOCATION_BY_PLACE_BY_RACE.loc[:,colnames]
MEDINC_BY_LOCATION_BY_PLACE_BY_RACE.head()

,Query Type,Location,Place,ALL,WHITE,BLACK,INDIAN,ASIAN,PACIFIC,OTHER,MIX,JUST WHITE,HISPANIC
0,Country,United States,United States,73965.0,78986.0,49270.0,49451.0,96439.0,65618.0,48058.0,66304.0,83246.0,51800.0
1,State,Minnesota,Minnesota,86204.0,90511.0,41891.0,41988.0,82767.0,73036.0,44056.0,64187.0,91432.0,49426.0
2,State,Mississippi,Mississippi,54933.0,67910.0,36083.0,40196.0,69004.0,50160.0,41863.0,48971.0,68466.0,44566.0
3,State,Missouri,Missouri,67612.0,70959.0,43905.0,55236.0,88419.0,53594.0,39608.0,53025.0,71390.0,50307.0
4,State,Montana,Montana,68139.0,70097.0,47050.0,40959.0,90125.0,28469.0,62900.0,53877.0,70522.0,52583.0

### Creates a boolean series that returns true if all of the race fields are null and returns False otherwise. This series will be used to subset the MEDINC_BY_LOCATION_BY_PLACE_BY_RACE by removing all records where the "race" fields are all nulls.

In [24]:
logic = \
    ~(
        MEDINC_BY_LOCATION_BY_PLACE_BY_RACE["ALL"] .isnull() & \
        MEDINC_BY_LOCATION_BY_PLACE_BY_RACE["WHITE"] .isnull() & \
        MEDINC_BY_LOCATION_BY_PLACE_BY_RACE["BLACK"] .isnull() & \
        MEDINC_BY_LOCATION_BY_PLACE_BY_RACE["INDIAN"] .isnull() & \
        MEDINC_BY_LOCATION_BY_PLACE_BY_RACE["ASIAN"] .isnull() & \
        MEDINC_BY_LOCATION_BY_PLACE_BY_RACE["PACIFIC"] .isnull() & \
        MEDINC_BY_LOCATION_BY_PLACE_BY_RACE["OTHER"] .isnull() & \
        MEDINC_BY_LOCATION_BY_PLACE_BY_RACE["MIX"] .isnull() & \
        MEDINC_BY_LOCATION_BY_PLACE_BY_RACE["JUST WHITE"] .isnull() & \
        MEDINC_BY_LOCATION_BY_PLACE_BY_RACE["HISPANIC"] .isnull()
    )

In [25]:
logic

0         True
1         True
2         True
3         True
4         True
         ...
29621    False
29622    False
29623    False
29624    False
29625    False
Length: 29626, dtype: bool

In [ ]:
MEDINC_BY_LOCATION_BY_PLACE_BY_RACE.shape

In [26]:
MEDINC_BY_LOCATION_BY_PLACE_BY_RACE = MEDINC_BY_LOCATION_BY_PLACE_BY_RACE[logic]

In [27]:
MEDINC_BY_LOCATION_BY_PLACE_BY_RACE.shape

(27287, 13)

In [28]:
MEDINC_BY_LOCATION_BY_PLACE_BY_RACE.head()

,Query Type,Location,Place,ALL,WHITE,BLACK,INDIAN,ASIAN,PACIFIC,OTHER,MIX,JUST WHITE,HISPANIC
0,Country,United States,United States,73965.0,78986.0,49270.0,49451.0,96439.0,65618.0,48058.0,66304.0,83246.0,51800.0
1,State,Minnesota,Minnesota,86204.0,90511.0,41891.0,41988.0,82767.0,73036.0,44056.0,64187.0,91432.0,49426.0
2,State,Mississippi,Mississippi,54933.0,67910.0,36083.0,40196.0,69004.0,50160.0,41863.0,48971.0,68466.0,44566.0
3,State,Missouri,Missouri,67612.0,70959.0,43905.0,55236.0,88419.0,53594.0,39608.0,53025.0,71390.0,50307.0
4,State,Montana,Montana,68139.0,70097.0,47050.0,40959.0,90125.0,28469.0,62900.0,53877.0,70522.0,52583.0

### Python resources

- Python for Informatics: http://www.py4inf.com/
- Link to Data School YouTube channel
- Link to the CensusData github site